.margin {
  margin: 10px 50px;
}

.flex {
  /* display: inline-flex; */
  /* flex-wrap: wrap; */
  position: sticky;
  top:0;
  margin-bottom: 10px;
  z-index: 1000;
}

.event {
  background-color: lightblue;
}

